/*Color Look-Up Table*/
:root {
    --color1: #2C4B85;
    --color2: #333E52;
    --color3: #132038;
    --color4: #546585;
    --color5: #0E182B;
    --color6: #0b1322;
}


* {
    margin:0;
    padding:0;
}

html {
    font-size: 18px;
    height: 100%;
}

body { 
    margin: 0; 
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif; 
    background: rgb(14,24,43);
    background: linear-gradient(70deg, rgba(14,24,43,1) 0%, rgba(44,75,133,1) 50%, rgba(14,24,43,1) 100%);
    height: 100%;
    margin-bottom: 0 !important;
    padding-bottom: 0 !important;
}

.inputArea {
    position: absolute;
    bottom: 0;
}


.HeaderDiv {
    background-color: var(--color6);
    color:white;
    height: 100%;
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
    /*margin-top: 1em !important;*/
    box-shadow: 0px 0px 2em 5px #111;
}

.Header {
    background-color: var(--color5);
    border-radius: 1em;
}

.Channel {
    background-color: var(--color5);
    border-radius: 1em;
}

#form { 
    background: var(--color5); 
    padding: 0.25rem;
    display: flex; 
    height: 3rem; 
    box-sizing: border-box; 
    backdrop-filter: blur(10px); 
}

.formBackground {
    background-color: var(--color5); 
    box-shadow: 0px 0px 2em 5px #111;
}
      
#input { 
    border: none; 
    padding: 0 1rem; 
    /*flex-grow: 1; */
    border-radius: 2rem; 
    margin: 0.25rem; 
}
      
#input:focus { 
    outline: none; 
}
      
#form > button { 
    background:var(--color6); 
    border: none;
    padding-top: 0 1rem; 
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
    border-radius: 3px; 
    outline: none; 
    color: #fff; 
}

#messages { 
    list-style-type: none; 
    margin: 0; 
    padding: 0; 
    width: 100%;
}
      
#messages > li { 
    padding: 0.5rem 1rem; 
    background-color: var(--color1);
    border-radius: 8px;
    margin:0.3em;
    overflow: hidden;
}

.ownMessage {
    width: 80%;
    float: right !important;
    background-color: var(--color4) !important;
}

.otherMessage {
    width: 80%;
    float: left !important;
    background-color: var(--color2) !important;
}

.sysMessage {
    width:100%;
}

#newRoomForm input {
    border-radius: 2rem;
    padding:0 1em;
}

#newRoomForm button {
    background:var(--color5); 
    border: none;
    padding-top: 0 1rem; 
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
    border-radius: 3px; 
    outline: none; 
    color: #fff; 
    padding: 1em;
}

#roomList {
    width: 100%;
    overflow-x: hidden;

}

.roomListItem {
    overflow-x: hidden;
    padding-top: 1em;
}


/* Cookie */
#footer-cookie,
#footer-cookie * {
  box-sizing: border-box;
}

#footer-cookie {
  display: none;
  position: fixed;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 60px;
  padding-left: 30px;
  padding-right: 30px;
  line-height: 60px;
  background: #303030;
  color: #fff;
  z-index: 10000 !important;
  margin: 0;
}

#footer-cookie a {
  color: #fff;
}

#footer-cookie #description {
  float: left;
}

#footer-cookie #accept {
  float: right;
}

#footer-cookie #accept a {
  border: 1px solid #fff;
  padding: 5px 10px;
  text-decoration: none;
}

@media (max-width: 1200px) {
    #footer-cookie {
      padding-top: 30px;
      padding-bottom: 30px;
      line-height: inherit;
      height: auto;
      margin: 0 !important;
    }

    #footer-cookie #description {
      width: 100%;
    }

    #footer-cookie #accept {
      width: 100%;
      margin-top: 15px;
    }

    #footer-cookie #accept a {
      width: 100%;
      display: block;
      text-align: center;
    }
  }